In [32]:
import gmaps
import pandas as pd

#from config import trongkey

gmaps.configure(api_key="AIzaSyAu0g-0kWOWsa8A0FBPE-hzkxNUz62hLxA")

In [84]:
main_df = pd.read_csv('all_data_cleaned.csv')
main_df.head()

,Unnamed: 0,restaurant,address,recent_health_score,recent_health_risk,average_health_score,zipcode,yelp_business_id,rating,price,review_count,category_1,category_2,category_3,distance,cuisine,median_income,zip_lat,zip_lng
0,0,Norman's Ice Cream and Freezes,2801 Leavenworth St,96,Low Risk,96.000000,94133,sfAIpzEC8ywpy36YhzikmQ,4.5,$,289.0,Ice Cream & Frozen Yogurt,Coffee & Tea,Juice Bars & Smoothies,8.031888,Other,45203,37.804531,-122.410852
1,1,Chowders,Pier 39 Space A3,98,Low Risk,94.500000,94133,oic-xcRpi-yXG3KZ4go0mg,3.5,$$,768.0,Seafood,Fish & Chips,Soup,57.334700,Other,45203,37.804531,-122.410852
2,2,XOX Truffles,754 Columbus Ave,94,Moderate Risk,94.000000,94133,qkHlhvv6DrCkvY54ogcPiA,4.5,$,604.0,Chocolatiers & Shops,Coffee & Tea,NaN,3.286580,Other,45203,37.804531,-122.410852
3,3,Centerfolds,391 Broadway St,90,Low Risk,90.857143,94133,6Ki5PvDCebTkCRkGEXD1qw,3.5,$$,151.0,Cabaret,Strip Clubs,NaN,7.262056,Other,45203,37.804531,-122.410852
4,4,Caffe Puccini,411 Columbus Ave,90,Low Risk,90.000000,94133,uzqUJiCHUqV2c3PnvSsqeQ,4.0,$,966.0,Coffee & Tea,Desserts,Sandwiches,25.578495,Other,45203,37.804531,-122.410852

In [85]:
# group by zip, to make heat maps
zip_grp = main_df.groupby('zipcode', as_index=False)
zip_df = zip_grp.mean()
zip_df
sf_zip_df = zip_df[(zip_df.zipcode != 90012) &
                   (zip_df.zipcode != 94301) &
                   (zip_df.zipcode != 94619) &
                   (zip_df.zipcode != 94931) &
                   (zip_df.zipcode != 94019)]
sf_zip_df.head()

,zipcode,Unnamed: 0,recent_health_score,average_health_score,rating,review_count,distance,median_income,zip_lat,zip_lng
2,94102,1552.0,89.890566,89.238106,3.775472,566.256604,8.884341,29613.0,37.779584,-122.419339
3,94103,1914.0,88.760943,88.014189,3.843434,445.242424,10.152261,53548.0,37.773152,-122.411164
4,94104,1725.0,89.234568,88.021733,3.771605,261.691358,10.255812,23165.0,37.791412,-122.402129
5,94105,2222.5,87.950820,87.274068,3.606557,497.975410,11.486422,112333.0,37.789649,-122.393067
6,94107,824.5,90.279221,89.719346,3.831169,500.103896,58.291750,99924.0,37.758260,-122.406044

In [81]:
locations = sf_zip_df[['zip_lat','zip_lng']]
inspection_scores = sf_zip_df['average_health_score']
income = sf_zip_df['median_income']

In [82]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=inspection_scores, 
                                 dissipating=True,
                                 point_radius=30)

# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [83]:
# Plot Heatmap
fig2 = gmaps.figure()

# Create heat layer
heat_layer2 = gmaps.heatmap_layer(locations, weights=income, 
                                 dissipating=True,
                                 point_radius=30)

# Add layer
fig2.add_layer(heat_layer2)

# Display figure
fig2

Figure(layout=FigureLayout(height='420px'))