In [1]:
import pandas as pd

In [2]:
yelp_df = pd.read_csv("yelp_clean.csv")
yelp_df["zipcode"] = yelp_df["zipcode"].map('{:.0f}'.format)
yelp_df.count()

restaurant              3519
address                 3519
recent_health_score     3519
recent_health_risk      3367
average_health_score    3519
zipcode                 3519
yelp_business_id        3518
rating                  3518
price                   3364
review_count            3518
category_1              3516
category_2              2359
category_3              1321
distance                3518
cuisine                 3519
dtype: int64

In [3]:
income_df = pd.read_csv("MedianZIP-3.csv", thousands=',')
income_df.rename(columns={"Zip":"zipcode","Median":"median_income"}, inplace=True)
income_df = income_df[["zipcode","median_income"]]
income_df["zipcode"] = income_df["zipcode"].map('{:.0f}'.format)
income_df.head()

  zipcode  median_income
0    1001          56663
1    1002          49853
2    1003          28462
3    1005          75423
4    1007          79076

In [4]:
zip_df = pd.read_csv("Zip_geocodes.csv")
zip_df.rename(columns={"Zip":"zipcode","Lat":"zip_lat","Lng":"zip_lng"}, inplace=True)
zip_df["zipcode"] = zip_df["zipcode"].map('{:.0f}'.format)
zip_df.head()

  zipcode    zip_lat    zip_lng
0     601  18.180555 -66.749961
1     602  18.361945 -67.175597
2     603  18.455183 -67.119887
3     606  18.158327 -66.932928
4     610  18.295366 -67.125135

In [5]:
merged_df = yelp_df.merge(income_df, on="zipcode")
merged_df.count()

restaurant              3515
address                 3515
recent_health_score     3515
recent_health_risk      3363
average_health_score    3515
zipcode                 3515
yelp_business_id        3515
rating                  3515
price                   3361
review_count            3515
category_1              3513
category_2              2357
category_3              1320
distance                3515
cuisine                 3515
median_income           3515
dtype: int64

In [6]:
merged_df = merged_df.merge(zip_df, on="zipcode")
merged_df.head()

,restaurant,address,recent_health_score,recent_health_risk,average_health_score,zipcode,yelp_business_id,rating,price,review_count,category_1,category_2,category_3,distance,cuisine,median_income,zip_lat,zip_lng
0,Norman's Ice Cream and Freezes,2801 Leavenworth St,96,Low Risk,96.000000,94133,sfAIpzEC8ywpy36YhzikmQ,4.5,$,289.0,Ice Cream & Frozen Yogurt,Coffee & Tea,Juice Bars & Smoothies,8.031888,Other,45203,37.804531,-122.410852
1,Chowders,Pier 39 Space A3,98,Low Risk,94.500000,94133,oic-xcRpi-yXG3KZ4go0mg,3.5,$$,768.0,Seafood,Fish & Chips,Soup,57.334700,Other,45203,37.804531,-122.410852
2,XOX Truffles,754 Columbus Ave,94,Moderate Risk,94.000000,94133,qkHlhvv6DrCkvY54ogcPiA,4.5,$,604.0,Chocolatiers & Shops,Coffee & Tea,NaN,3.286580,Other,45203,37.804531,-122.410852
3,Centerfolds,391 Broadway St,90,Low Risk,90.857143,94133,6Ki5PvDCebTkCRkGEXD1qw,3.5,$$,151.0,Cabaret,Strip Clubs,NaN,7.262056,Other,45203,37.804531,-122.410852
4,Caffe Puccini,411 Columbus Ave,90,Low Risk,90.000000,94133,uzqUJiCHUqV2c3PnvSsqeQ,4.0,$,966.0,Coffee & Tea,Desserts,Sandwiches,25.578495,Other,45203,37.804531,-122.410852

In [7]:
merged_df.to_csv("all_data_cleaned.csv")